# SA:MP server related files
*.dll
*.exe
*.amx
server_log.txt
server.cfg
crashinfo.txt
server-readme.txt
npcmodes/
pawno/
scriptfiles/
*.asm
gamemodes/testing.pwn
gamemodes/test-bytes.pwn
gamemodes/test.pwn
include/
